.schedulePhotoBlock {
    width: 100%;
    margin-top: 5vw;
    background: rgb(255, 255, 255);
    text-align: center;
    overflow: hidden;
}

.schedulePcPhoto {
    width: 100%;
    opacity: 0.7;
}

.scheduleMobPhoto {
    display: none;
    width: 100%;
    opacity: 0.7;
}

.scheduleText {
    font-family: 'Raleway', sans-serif;
    font-size: 12vw;
    color: rgb(0, 0, 0);
    position: absolute;
    top: 53vw;
    text-transform: uppercase;
}

@media only screen and (max-width: 760px) {
    .schedulePcPhoto {
        width: 120%;
    }
    .scheduleText {
        top: 68vw;
    }
    


}

@media only screen and (max-width: 480px) {
    .schedulePcPhoto {
        display: none;
    }
    .scheduleMobPhoto {
        display: block;
    }
    .scheduleText {
        top: 190vw;
    }


}