.photosPhotoBlock {
    width: 100%;
    text-align: center;
    overflow: hidden;
    display: flex;
    justify-content: center;
}

.photosPcPhoto {
    width: 100%;
}

.photosMobPhoto {
    display: none;
    width: 100%;
}

.photosText {
    font-family: "Rubik Vinyl", cursive;
    font-size: 11vw;
    font-weight: 900;
    position: absolute;
    top: 325vw;
    text-transform: uppercase;
    width: 90%;
}

@media only screen and (max-width: 760px) {
    .photosText {
        top: 337vw;
    }
}

@media only screen and (max-width: 480px) {
    .photosPcPhoto {
        display: none;
    }
    .photosMobPhoto {
        display: block;
    }
    .photosText {
        top: 737vw;
        font-size: 13vw;
        width: 95%;
    }
}