.photosPhotoBlock {
    width: 100%;
    margin-top: 5vw;
    text-align: center;
    overflow: hidden;
    display: flex;
    justify-content: center;
}

.photosPcPhoto {
    width: 100%;
}

.photosMobPhoto {
    display: none;
    width: 100%;
}

.photosText {
    font-family: 'Raleway', sans-serif;
    font-size: 11vw;
    font-weight: 900;
    color: rgb(0, 0, 0);
    position: absolute;
    top: 362vw;
    text-transform: uppercase;
    width: 90%;
}

@media only screen and (max-width: 760px) {

}

@media only screen and (max-width: 480px) {
    .photosPhotoBlock {
        margin-top: 10vw;
    }
    .photosPcPhoto {
        display: none;
    }
    .photosMobPhoto {
        display: block;
    }
}