.quotesPhotoBlock {
    width: 100%;
    text-align: center;
    overflow: hidden;
}

.quotesPcPhoto {
    width: 100%;
}

.quotesMobPhoto {
    display: none;
    width: 100%;
}

.quotesText {
    font-family: 'Raleway', sans-serif;
    font-size: 11vw;
    color: rgb(255, 255, 255);
    position: absolute;
    top: 425vw;
    text-transform: uppercase;
}

@media only screen and (max-width: 760px) {
    
}

@media only screen and (max-width: 480px) {
    .quotesPcPhoto {
        display: none;
    }
    .quotesMobPhoto {
        display: block;
    }
}