@import url('https://fonts.googleapis.com/css2?family=Alumni+Sans:wght@900&display=swap');
@import '../../../index.scss';

* {
  margin: 0;
  box-sizing: border-box;
}

.pcMenu {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #dbdbdb;
  padding: 0 4vw;

  .logo__block {
    font-family: "Quantico", sans-serif;
    font-size: 3vw;
  }

  .logo__block a {
    color: rgb(255, 255, 255);
    z-index: 1000;
    cursor: pointer;
  }

  .wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 1vw 0;
  }

  .PClinks {
    display: flex;
    list-style-type: none;
    padding-right: 2vw;
    border-right: 1px solid rgb(255, 255, 255);
  }

  .PClinks a {
    display: block;
    font-size: 1.3vw;
    color: rgb(255, 255, 255);
    padding: 0 1.2vw;
    text-decoration: none;
  }

  .PClinks a:hover {
    text-decoration: underline;
  }
}

.buttons {
  display: flex;
  align-items: center;
  cursor: pointer;
  border: none;
  outline: none;
  padding-left: 2vw;

  > button {
    font-size: 1.4vw;
    cursor: pointer;
    border: none;
    outline: none;
    background: transparent;
    border: 1px solid #dbdbdb;
    padding: 0.6vw;
  }
}
  .login-button {
    background-color: #0000;
    border: 1px solid #fff;
    padding: 0.7vw;
    color: #fff;
    cursor: pointer;
  }

  .login-button:hover {
    background-color: rgba(255, 255, 255, 0.233);
  }

/* ---------------- Navbar and burger menu ------------------ */
.mobileMenu {
  display: none;
  width: 100%;
  height: 10vh;
  position: fixed;
  z-index: 99;
  // pointer-events: none;
}

nav {
  background-image: $backgroundColor;
  width: 100%;
  height: 8vw;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 1em;
  // border-bottom: 1px solid #a1a1a1;
}

.burger-menu {
  height: 100%;
  width: 6vw;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  cursor: pointer;
}

.burger-bar {
  width: 7vw;
  height: 0.7vw;
  background-color: #ffffff;
  border-radius: 0.5em;
}

.menu {
  width: 50%;
  height: 100vh;
  position: absolute;
  top: 0;
  z-index: -1;
  transition: ease-out 0.2s;
  display: flex;
  flex-direction: column;
  padding-top: 10vw;
  padding-left: 4vw;
  padding-right: 4vw;
  background-image: $backgroundColor;
  text-align: center;
  font-family: 'Alumni Sans', sans-serif;
}

.menu a {
  margin-top: 3vw;
  font-size: 4vw;
  text-transform: uppercase;
  color: #66515c;
  text-shadow: 0px 0px 4px rgb(255, 255, 255);
}

.fifa-icon {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.fifa-icon img {
  width: 80%;
}

.registrButtons {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  position: relative;
  top: 18vw;
  width: 100%;
}

.registrButtons a {
  font-size: 3vw;
  border: none;
}

/* ------------- sliding menu ------------------ */
.hidden {
  // display: none;
  opacity: 0;
  right: 100vw;
}

.visible {
  // display: inherit;
  opacity: 1;
  transition: ease-out 0.2s;
  right: 50vw;
  box-shadow: 1px 1px 1px #00000029;
}

/* ----- animations--------- */
/* clicked */
.burger-bar.clicked:nth-child(1) {
  transform: rotate(45deg) translate(0.1vw, 2.1vw);
  transition: ease-out 0.5s;
}

.burger-bar.clicked:nth-child(2) {
  transform: scale(0.1);
  transition: ease-out 0.5s;
}

.burger-bar.clicked:nth-child(3) {
  transform: rotate(135deg) translate(0vw, 2.4vw);
  transition: ease-out 0.5s;
}

/* unclicked */
.burger-bar.unclicked {
  transform: rotate(0) translate(0);
  transition: cubic-bezier(0.175, 0.885, 0.32, 1.275) 0.5s;
}

@media only screen and (max-width: 760px) {
  .logo__block {
    font-family: "Quantico", sans-serif;
    font-size: 5vw;
    margin-left: 2vw;
  }
  .logo__block a {
    color: rgb(255, 255, 255);
  }
  .main-photo-block img {
    width: 120%;
  }

  .pcMenu {
    display: none;
  }

  nav {
    padding: 2vw;
  }

  .mobileMenu {
    display: block;
  }

  .burger-bar {
    width: 6vw;
    height: 0.6vw;
  }

  .registrButtons {
    top: 24vw;
  }

  .registrButtons a {
    font-size: 2vw;
  }

  .burger-bar.clicked:nth-child(1) {
    transform: rotate(45deg) translate(0.1vw, 2.1vw);
    transition: ease-out 0.5s;
  }

  .burger-bar.clicked:nth-child(3) {
    transform: rotate(135deg) translate(0vw, 2.4vw);
    transition: ease-out 0.5s;
  }
}

@media only screen and (max-width: 480px) {
  .pcMenu {
    height: 12vw;
  }

  nav {
    height: 14vw;
    padding: 4vw;
  }

  .logo__block {
    font-size: 7vw;
    margin-left: 2vw;
  }

  .logo__block a {
    color: rgb(255, 255, 255);
  }

  .burger-menu {
    width: 7vw;
  }

  .menu {
    width: 90%;
    padding-top: 15vw;
    padding-left: 10vw;
    padding-right: 10vw;
  }

  .menu a {
    margin-top: 2vw;
    font-size: 10vw;
  }

  .registrButtons {
    top: 35vw;
  }

  .registrButtons a {
    font-size: 3vw;
  }

  .visible {
    right: 10vw;
  }

  .burger-bar.clicked:nth-child(1) {
    transform: rotate(45deg) translate(2vw, 1.4vw);
    transition: ease-out 0.5s;
  }

  .burger-bar.clicked:nth-child(3) {
    transform: rotate(135deg) translate(-2vw, 1.9vw);
    transition: ease-out 0.5s;
  }
}
