.locationsPhotoBlock {
    width: 100%;
    margin-top: 5vw;
    text-align: center;
    overflow: hidden;
}

.locationsPcPhoto {
    width: 100%;
}

.locationsMobPhoto {
    display: none;
    width: 100%;
}

.locationsText {
    font-family: 'Raleway', sans-serif;
    font-size: 11vw;
    font-weight: 900;
    color: rgb(0, 0, 0);
    position: absolute;
    top: 222vw;
    text-transform: uppercase;
}

@media only screen and (max-width: 760px) {

}

@media only screen and (max-width: 480px) {
    .locationsPhotoBlock {
        margin-top: 10vw;
    }
    .locationsPcPhoto {
        display: none;
    }
    .locationsMobPhoto {
        display: block;
    }
}