.locationsPhotoBlock {
    width: 100%;
    text-align: center;
    overflow: hidden;
}

.locationsPcPhoto {
    width: 100%;
}

.locationsMobPhoto {
    display: none;
    width: 100%;
}

.locationsText {
    font-family: 'Rubik Vinyl', cursive;
    font-size: 11vw;
    color: #fff;
    position: absolute;
    top: 192vw;
    text-transform: uppercase;
}

@media only screen and (max-width: 760px) {
    .locationsText {
        top: 204vw;
    }
}

@media only screen and (max-width: 480px) {
    .locationsPcPhoto {
        display: none;
    }
    .locationsMobPhoto {
        display: block;
    }
    .locationsText {
        top: 485vw;
        font-size: 13vw;
    }
}