.audioPhotoBlock {
    width: 100%;
    margin-top: 5vw;
    text-align: center;
    overflow: hidden;
    display: flex;
    justify-content: center;
}

.audioPcPhoto {
    width: 100%;
}

.audioMobPhoto {
    display: none;
    width: 100%;
}

.audioText {
    font-family: 'Raleway', sans-serif;
    font-size: 11vw;
    font-weight: 900;
    color: rgb(255, 255, 255);
    position: absolute;
    top: 298vw;
    text-transform: uppercase;
    width: 78%;
}

@media only screen and (max-width: 760px) {
    
}

@media only screen and (max-width: 480px) {
    .audioPhotoBlock {
        margin-top: 10vw;
    }
    .audioPcPhoto {
        display: none;
    }
    .audioMobPhoto {
        display: block;
    }
}