.audioPhotoBlock {
    width: 100%;
    margin-top: 5vw;
    background: rgb(0, 0, 0);
    text-align: center;
    overflow: hidden;
    display: flex;
    justify-content: center;
}

.audioPcPhoto {
    width: 100%;
    opacity: 0.5;
}

.audioMobPhoto {
    display: none;
    width: 100%;
    opacity: 0.5;
}

.audioText {
    font-family: 'Raleway', sans-serif;
    font-size: 11vw;
    font-weight: 900;
    color: rgb(255, 255, 255);
    position: absolute;
    top: 302vw;
    text-transform: uppercase;
    width: 78%;
}

@media only screen and (max-width: 760px) {
    .audioPcPhoto {
        width: 120%;
    }
    .audioText {
        top: 363vw;
    }
    


}

@media only screen and (max-width: 480px) {
    .audioPcPhoto {
        display: none;
    }
    .audioMobPhoto {
        display: block;
    }
    .audioText {
        font-size: 12vw;
        top: 598vw;
    }


}