.schedulePhotoBlock {
    width: 100%;
    margin-top: 5vw;
    text-align: center;
    overflow: hidden;
}

.schedulePcPhoto {
    width: 100%;
}

.scheduleMobPhoto {
    display: none;
    width: 100%;
}

.scheduleText {
    font-family: 'Raleway', sans-serif;
    font-size: 11vw;
    color: rgb(0, 0, 0);
    position: absolute;
    top: 66vw;
    text-transform: uppercase;
}

@media only screen and (max-width: 760px) {

}

@media only screen and (max-width: 480px) {
    .schedulePhotoBlock {
        margin-top: 10vw;
    }
    .schedulePcPhoto {
        display: none;
    }
    .scheduleMobPhoto {
        display: block;
    }
}