.schedulePhotoBlock {
    width: 100%;
    text-align: center;
    overflow: hidden;
}

.schedulePcPhoto {
    width: 100%;
}

.scheduleMobPhoto {
    display: none;
    width: 100%;
}

.scheduleText {
    font-family: 'Rubik Vinyl', cursive;
    font-size: 11vw;
    color: #fff;
    position: absolute;
    top: 60vw;
    text-transform: uppercase;
}

@media only screen and (max-width: 760px) {
    .scheduleText {
        top: 71vw;
    }
}

@media only screen and (max-width: 480px) {
    .schedulePcPhoto {
        display: none;
    }
    .scheduleMobPhoto {
        display: block;
    }
    .scheduleText {
        top: 233vw;
        font-size: 13vw;
    }
}