.header {
    display: flex;
    align-items: center;
    justify-content: end;
    padding: 1vw 4vw;

.wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    }

.menu {
    display: flex;
    list-style-type: none;
    padding-right: 2vw;
    border-right: 1px solid #222;
}

.menu li {
    display: inline-block;
    }
    li a {
        display: block;
        font-size: 1.3vw;
        color: #222;
        padding: 0 1.2vw;
        text-decoration: none;
        }
        li a:hover {
            text-decoration:underline;
            }

}

.buttons {
    display: flex;
    align-items: center;
    cursor: pointer;
    border: none;
    outline: none;
    padding-left: 2vw;

    > button {
    font-size: 1.4vw;
    cursor: pointer;
    border: none;
    outline: none;
    background: transparent;
    border: 1px solid rgb(117, 117, 117);
    padding: 0.6vw
    }

    .login-button {
        padding: 0.1vw 0.3vw;
    }

    .sign-up-button {
        margin-left: 0.8vw;
    }
}

@media only screen and (max-width: 760px) {
    .header {
        
    }
    
    .main-photo-block img {
        width: 120%;
    }


}

@media only screen and (max-width: 480px) {
    .header {
        height: 12vw;
    }
}