.btn {
  position: fixed;
  bottom: 20vw;
  right: 10vw;
  background-color: #fff;
  color: black;
  animation-name: animate-btn;
  animation-duration: 1s;
  visibility: hidden;
}

@keyframes animate-btn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@media only screen and (max-width: 480px) {
  .btn {
    visibility: visible;
  }
}
