.resultPhotoBlock {
    width: 100%;
    text-align: center;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

.resultsPcPhoto {
    width: 100%;
}

.resultsMobPhoto {
    display: none;
}


.resultsText {
    font-family: 'Rubik Vinyl', cursive;
    font-size: 11vw;
    color: #fff;
    position: absolute;
    top: 123vw;
    text-transform: uppercase;
    width: 90%;
}

@media only screen and (max-width: 760px) {
    .resultsText {
        top: 136vw;
    }
}

@media only screen and (max-width: 480px) {
    .resultsPcPhoto {
        display: none;
    }
    .resultsMobPhoto {
        display: block;
        width: 100%;
    }
    .resultsText {
        top: 365vw;
        font-size: 13vw;
        width: 100%;
    }
}