.resultPhotoBlock {
    width: 100%;
    margin-top: 5vw;
    text-align: center;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

.resultsPcPhoto {
    width: 100%;
}

.resultsMobPhoto {
    display: none;
}


.resultsText {
    font-family: 'Raleway', sans-serif;
    font-size: 11vw;
    color: #fff;
    position: absolute;
    top: 144vw;
    text-transform: uppercase;
    width: 90%;
}

@media only screen and (max-width: 760px) {

}

@media only screen and (max-width: 480px) {
    .resultPhotoBlock {
        margin-top: 10vw;
    }
    .resultsPcPhoto {
        display: none;
    }
    .resultsMobPhoto {
        display: block;
        width: 100%;
    }
}